.pull-right {
  float: right;
}
hr,.clear {
  clear: both;
}
.button-dark.pull-right {
  padding: 0px;
  margin-top: -11px;
}

.borderUp {
  border-top: 1px solid black;
}

.gender {
  padding-left: 8px;
  padding-right: 8px;
}

.gender-label {
  padding-right: 90px;
}