<ion-view title="TT">
  <div class="bar bar-header bar-dark">
    <h1 class="title">主页</h1>
  </div>
  <ion-content padding="true" scroll="true" class="has-header">
    <h4 class="pull-right">您好 {{profileObj.name}}</h4>
    <div class="clear"></div>
    <h4>在线用户列表
      <button class="button button-clear button-dark pull-right" ng-click="logout()">
        注销
      </button>
    </h4>
    <hr/>
    <div class="list" ng-controller="HomeCtrl">
      <button class="pull-left" ng-click="randomChat()">找人聊天</button>
      <label class="item item-input" ng-hide="users.length == 1">
        <input type="text" placeholder="搜索用户" ng-model="search.user">
      </label>
      <label class="item" ng-hide="users.length == 1">
        <input type="radio" ng-model="search.gender" value="male" />  男
        <input type="radio" ng-model="search.gender" value="female" />  女
      </label>
      <span class="item item-button-right" ng-repeat="u in users | filter:search:user | filter:search:gender" >
        <i class="icon ion-ionic"></i>&nbsp;&nbsp;&nbsp; {{u.user}}
        <button class="button button-dark" ng-click="triggerChat(u)">
          <i class="icon ion-chatbubbles"></i>
        </button>
      </span>
      <span class="item" ng-show="users.length == 1">
        <i class="icon ion-alert"></i>&nbsp;&nbsp;&nbsp; 没有其他用户在线
      </span>
      <div class="list">
  </ion-content>
</ion-view>
