<ion-view title="TT">
  <div class="bar bar-header bar-dark">
    <h1 class="title">注册</h1>
  </div>
  <ion-content padding="true" scroll="false" class="has-header">
    <form ng-controller="SignupCtrl">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">用户名</span>
          <input type="text" placeholder="请输入用户名" ng-model="signup.username">
        </label>
        <label class="item gender">
          <span class="input-label gender-label">性别</span>
            <input class="gender" type="radio" ng-model="signup.gender" value="male" />  男
            <input type="radio" ng-model="signup.gender" value="female" />  女
        </label>
        <label class="item item-input">
          <span class="input-label">邮箱</span>
          <input type="email" placeholder="请输入邮箱" ng-model="signup.email">
        </label>
        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" placeholder="请输入密码" ng-model="signup.password">
        </label>
      </ion-list>
      <button class="button button-dark button-block" ng-disabled="!(signup.username && signup.email && signup.password && signup.gender)" ng-click="signupUser()">注册</button>
      <a href="#/" class="button button-positive button-clear button-block">返回</a>
    </form>
  </ion-content>
</ion-view>
